@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #fff;
}

h1, h2, h3, h4 {
    background-color: #333;
    color: #fff;
    border: 1px solid #D6A800;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #555;
}

a:visited {
    color: #777;
}
