@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/* Font Family */
body {
    font-family: 'Roboto', sans-serif;
}

/* Styles for the header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-weight: 400;
}

/* Styles for the footer */
footer {
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer p {
    color: #fff;
    font-weight: 400;
    margin: 0;
    font-style: italic;
}

footer .footer-links {
    display: flex;
    align-items: center;
}

footer .footer-links a {
    text-decoration: none;
    color: #fff;
    padding-right: 30px;
    font-weight: 400;
    font-style: italic;
}

footer a:hover {
    text-decoration: underline;
}

/* CSS styles for buttons */
.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* CSS styles for text box */
.textbox {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    width: 300px;
}

/* CSS styles for container */
.container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;
}

/* CSS styles for display area */
.display-area {
    margin-top: 20px;
}

/* CSS styles for line */
hr {
    margin: 20px 0;
    border: none;
    border-top: 2px solid black;
}